In [2]:
import pandas as pd 
import numpy as np

In [30]:
df= pd.read_csv('data.csv')
df['hour'] = pd.to_datetime(df['time']).dt.hour
df['weekday'] = pd.to_datetime(df['date']).dt.weekday

C:\Users\user\AppData\Local\Temp\ipykernel_20744\3250454216.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['hour'] = pd.to_datetime(df['time']).dt.hour

In [31]:
df.head()

,address,car_num,lat,long,time,date,hour,weekday
0,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:48:39,2023-05-02,18,1
1,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:48:39,2023-05-02,18,1
2,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:50:15,2023-05-02,18,1
3,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372526,22.580458,19:16:08,2023-05-02,19,1
4,"15, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372552,22.580432,19:17:15,2023-05-02,19,1

In [29]:
# df.drop(['time','date','address','car_num'],axis=1,inplace=True)

In [32]:
df.head()

,address,car_num,lat,long,time,date,hour,weekday
0,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:48:39,2023-05-02,18,1
1,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:48:39,2023-05-02,18,1
2,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372527,22.580441,18:50:15,2023-05-02,18,1
3,"40, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372526,22.580458,19:16:08,2023-05-02,19,1
4,"15, Vidyasagar St, Machuabazar, Kolkata, West ...",jj,88.372552,22.580432,19:17:15,2023-05-02,19,1

In [34]:
x=df[['lat','long','weekday']]
y= df['hour']

In [35]:
# adress_map={}
# temp=[]
# count=0;
# for i in x['address']:

In [36]:
from sklearn.ensemble import RandomForestRegressor
 
# create regressor object
regressor = RandomForestRegressor(n_estimators=100, random_state=0)


 
# fit the regressor with x and y data
regressor.fit(x, y)

RandomForestRegressor(random_state=0)

In [37]:
print(regressor.predict(x))
print(y)

[18.08 18.08 18.08 18.64 18.97 18.97 18.97 19.   19.   19.   19.   19.
 19.   19.   19.   19.   19.   19.   19.   19.89 19.89 16.99]
0     18
1     18
2     18
3     19
4     19
5     19
6     19
7     19
8     19
9     19
10    19
11    19
12    19
13    19
14    19
15    19
16    19
17    19
18    19
19    20
20    20
21    16
Name: hour, dtype: int32

In [43]:
adress= df['address']
lat= df['lat']
long= df['long']
weekday= df['weekday']

a1=[]
lat1=[]
long1=[]
weekday1=[]



i =0

while i<len(adress):
    if adress[i] == '40, Vidyasagar St, Machuabazar, Kolkata, West Bengal 700009, India':
        a1.append(adress[i])
        lat1.append(lat[i])
        long1.append(long[i])
        weekday1.append(weekday[i])
        break
    i=i+1

df2= pd.DataFrame({'lat':lat1,'long':long1,'weekday':weekday1})

In [44]:
print(regressor.predict(df2))

[18.08]